.action-order{
  background: $orange;
  padding: 10px 0;
  z-index: 3;
  &__text{
    margin-right: 10px;
  }
  &__container{
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
  &__btn{
    display: inline-block;
    border-bottom: 1px dashed $dark;
    text-decoration: none;
    line-height: 1.2;
    transition: all $transition;
    &:hover{
      color: $white;
      border-bottom-color: $white;
    }
  }
}
