.banner{
  height: 600px;
  padding: 20px;
  background: url('../assets/images/monument-statue.jpg') no-repeat center;
  background-size: cover;
  position: relative;
  @include media-breakpoint-down(lg) {
    height: 400px;
  }
  @include media-breakpoint-down(sm) {
    height: 300px;
  }
  &::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(to top, rgba(15,33,49,0.3), rgba(15,33,49,0.75));
  }
  .container{
    position: relative;
    z-index: 1;
  }
  &__title{
    font-family: 'PT Serif';
    font-size: 60px;
    line-height: 66px;
    color: $white;
    text-align: center;
    font-weight: bold;
    margin: 0 0 30px;
    @include media-breakpoint-down(lg) {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 24px;
      line-height: 28px;
    }
  }
  &__descrip{
    text-align: center;
    color: $smoke;
    max-width: 800px;
    font-size: 22px;
    margin-bottom: 60px;
    @include media-breakpoint-down(lg) {
      font-size: 20px;
      margin-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 16px;
      margin-bottom: 30px;
    }
  }
}
