.banner {
  padding: 140px 0;
  background: url('../assets/images/monument-statue.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  @include media-breakpoint-down(lg) {
    padding: 100px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 40px 5px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: linear-gradient(142.81deg, rgba(34, 43, 53, 0.8) 25.66%, rgba(82, 82, 82, 0) 87.72%);
  }

  .container {
    position: relative;
    z-index: 1;
  }

  &__pretitle {
    color: $gray-100;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 15px;
    @include media-breakpoint-down(lg) {
      letter-spacing: 3px;
      font-size: 15px;
      margin-bottom: 10px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 13px;
      letter-spacing: 1px;
    }
  }

  &__title {
    font-family: 'Source Serif Pro';
    font-size: 57px;
    line-height: 66px;
    color: $white;
    font-weight: 600;
    margin: 0 0 40px;
    @include media-breakpoint-down(lg) {
      font-size: 40px;
      line-height: 50px;
      margin-bottom: 20px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 28px;
      line-height: 28px;
      margin-bottom: 15px;
    }
  }

  &__descrip {
    color: $smoke;
    font-size: 18px;
    margin-bottom: 54px;
    @include media-breakpoint-down(lg) {
      font-size: 14px;
      margin-bottom: 30px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 14px;
      margin-bottom: 57px;
    }
  }

  &__action {
    button {
      @include media-breakpoint-down(sm) {
        width: 100%;
      }
    }
  }
}
