.block {
  padding: 40px 0 60px;
  @include media-breakpoint-down(lg) {
    padding: 30px 0;
  }
  @include media-breakpoint-down(sm) {
    padding: 20px 0;
  }

  &__title {
    font-family: 'Source Serif Pro';
    font-size: 30px;
    @include media-breakpoint-down(lg) {
      font-size: 20px;
    }

  }

  &__title-2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.02em;
    margin-top: 10px;
    margin-bottom: 14px;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  &__title-3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 14px;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }

  &__text {
    line-height: 1.8;
    margin-bottom: 15px;
    @include media-breakpoint-down(lg) {
      line-height: 1.5;
    }
  }

  &__text-small {
    font-size: 15px;
    @include media-breakpoint-down(lg) {
      font-size: 13px;
    }
  }

  &__max-400 {
    max-width: 500px;
  }

  &__max-500 {
    max-width: 500px;
  }

  &__max-600 {
    max-width: 600px;
  }

  &__max-700 {
    max-width: 800px;
  }

  &__max-800 {
    max-width: 800px;
  }

  &__white {
    padding-top: 45px;
    padding-bottom: 60px;
    border-radius: $border-radius-large;
    background: white;
    box-shadow: 13px 0px 74px rgba(212, 212, 212, 0.25);

    @include media-breakpoint-down(sm) {
      padding-top: 15px;
      padding-bottom: 30px;
    }
  }

  &__steps {
    position: relative;
    width: 70px;
    height: 70px;
    border: 3px solid $gray-300;
    -webkit-box-sizing: border-box;
    border-radius: 50%;
    background: $gray-300;
    color: $darkblue;


    &.red {
      background: $white;
      color: $red;
      border: 3px solid $red;
    }

    & > span {
      position: absolute;
      font-family: 'Source Serif Pro';
      font-weight: 600;
      font-size: 57px;
      line-height: 37px;
      letter-spacing: 1px;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }

  &__steps-svg {
    width: 70px;
    height: 70px;
    background: $gray-300;
    border-radius: 50%;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__steps-item-desc {
    font-size: 15px;
    @include media-breakpoint-down(lg) {
      font-size: 13px;
    }
  }

  &__item {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  &__accent {
    text-transform: uppercase;
    font-family: 'Source Serif Pro';
    font-weight: bold;
    color: $red;
  }

  &.block--light {
    background: $light;
  }

  &__price {
    font-size: 26px;
    margin: 10px 0 20px;
  }

  &.block--dark {
    background: $darkblue;

    .block__title {
      color: $white;
    }
  }

  &__call-back {
    color: $white;
    display: flex;
    justify-content: center;

    p {
      max-width: 700px;
      padding: 40px 0 0px 125px;
      font-size: 20px;
      background-image: url('../assets/images/customer-support.svg');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      @include media-breakpoint-down(sm) {
        padding: 125px 0 0 0;
        background-position: center top;
        background-size: 100px;
        font-size: 16px;
      }
    }
  }

  &:last-child {
    padding-bottom: 0;
  }

  &__attent {
    background: $white;
    padding: 15px;
    line-height: 1.6;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
    font-size: 14px;
    border-left: 2px solid $orange;
  }
}
