.catalog-menu{
  position: static;
  &:hover{
    .catalog-menu__wrapp{
      max-height: 120px;
    }
    & > a{
      position: relative;
      z-index: 5;
      &::after{
        content: '';
        position: absolute;
        bottom: -16px;
        left: 50%;
        margin-left: -8px;
        border: 8px solid transparent;
        border-top: 8px solid $red;
        opacity: 1;
      }
    }
  }
  &__wrapp{
    position: absolute;
    left: 0;
    width: 100%;
    background: $darkblue;
    bottom: 0;
    transform: translateY(100%);
    z-index: 4;
    max-height: 0;
    transition: all $transition;
    overflow: hidden;
  }
  &__item{
    list-style: none;
    padding: 15px 0 10px;
    display: flex;
    align-items: stretch;
    &.active{
      .catalog-menu__text{
        border-bottom: 1px dashed $white;
      }
      a {
        color: $white;
        svg {
          fill: $white;
        }
      }
    }
    // font-family: 'PT Serif';
    a{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      color: $smoke;
      &:hover{
        color: $white;
        svg {
          fill: $white;
        }
      }
    }
  }
  &__text{
    font-size: 14px;
    display: inline-block;
  }
  &__img{
    margin-bottom: 5px;
    &.catalog-menu__img--for-all{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      & > svg {
        margin: 0 5px;
      }
    }
    & > svg {
      max-height: 50px;
      max-width: 50px;
      height: auto;
      vertical-align: bottom;
      fill: $smoke;
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
  }
  // & > a{
  //   position: relative;
  //   z-index: 3;
  //   &:hover{
  //     &::after{
  //       content: '';
  //       position: absolute;
  //       bottom: -16px;
  //       left: 50%;
  //       margin-left: -8px;
  //       border: 8px solid transparent;
  //       border-top: 8px solid $latte;
  //       opacity: 1;
  //     }
  //   }
  //
  // }
}
