.engraving {
  margin-top: 54px;
  margin-bottom: -100px;
  @include media-breakpoint-down(lg) {
    margin-top: 34px;
    margin-bottom: -90px;
  }

  &__block-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -.02em;
    margin-top: 36px;
    margin-bottom: 20px;
    @include media-breakpoint-down(lg) {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
      margin-top: 26px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 20px;
    }
  }

  &__block {
    margin-bottom: 100px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 60px;
    }
    @include media-breakpoint-down(sm) {
      border-bottom: 1px solid $gray-300;
      padding-bottom: 30px;
      margin-bottom: 30px;
    }
  }

  &__price-table {
    margin-top: 54px;
    font-size: 18px;
    font-weight: 700;
    display: table;
    &.engraving__price-table--price-to-right {
      width: 100%;
      .engraving__price-cell:last-child{
        text-align: right;
      }
    }

    @include media-breakpoint-down(lg) {
      font-size: 14px;
      margin-top: 34px;
    }

    @include media-breakpoint-down(sm) {
      margin-top: 22px;
    }
  }

  &__price-row {
    display: table-row;
  }

  &__price-cell{
    padding: 3px 0;
    display: table-cell;
    &:first-child {
      min-width: 235px;
      padding-right: 20px;
    }
    & > span {
      &:not(:first-child) { margin-left: 12px; }
    }
  }

  &__discount {
    background: $red;
    color: $white;
    padding: 2px 4px;
    font-weight: 100;
    font-size: 16px;
    border-radius: 5px;
    @include media-breakpoint-down(lg) {
      font-size: 12px;
    }
  }

  &__link {
    display: block;
    margin-top: 54px;
    color: $red;
    text-align: right;
    font-size: 18px;
    line-height: 25px;
    @include media-breakpoint-down(lg) {
      font-size: 14px;
      margin-top: 34px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 12px;
    }
  }

  &__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.engraving__image--1 {
      margin-top: 26px;
      width: 143px;
      height: 140px;
      background-image: url("../assets/images/engraving/engraving-1.png");
      @include media-breakpoint-down(lg) {
        width: 123px;
        height: 120px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 0px;
        width: 83px;
        height: 83px;
      }
    }

    &.engraving__image--2 {
      width: 249px;
      height: 153px;
      background-image: url("../assets/images/engraving/engraving-2.png");
      @include media-breakpoint-down(lg) {
        width: 220px;
        height: 133px;
      }
      @include media-breakpoint-down(sm) {
        width: 179px;
        height: 116px;
      }
    }

    &.engraving__image--3 {
      width: 184px;
      height: 137px;
      background-image: url("../assets/images/engraving/engraving-3.png");
      @include media-breakpoint-down(lg) {
        width: 164px;
        height: 117px;
      }
      @include media-breakpoint-down(sm) {
        width: 107px;
        height: 80px;
      }
    }

    &.engraving__image--4 {
      width: 137px;
      height: 137px;
      background-image: url("../assets/images/engraving/engraving-4.png");
      @include media-breakpoint-down(lg) {
        width: 117px;
        height: 117px;
      }
      @include media-breakpoint-down(sm) {
        width: 98px;
        height: 98px;
      }
    }
  }
}