.epitaph{
  // background: $light;
  // padding: 10px;
  border-radius: $border-radius;
  margin-bottom: 25px;
  box-shadow: $box-shadow;
  &__header{
    display: flex;
    justify-content: space-between;
  }
  &__number{
    font-size: 14px;
  }
  &__copy{
    font-size: 14px;
    color: $blue;
    cursor: pointer;
  }
  &__content{
    padding: 25px 25px 15px;
    font-size: 24px;
    font-style: italic;
    font-family: 'Source Serif Pro';
    font-weight: bold;
    text-align: center;
    @include media-breakpoint-down(lg){
      font-size: 20px;
    }
    @include media-breakpoint-down(md){
      font-size: 18px;
      padding: 15px 20px 10px;
    }
  }
  &__footer{
    display: flex;
    padding: 10px;
    justify-content: flex-end;
    @include media-breakpoint-down(md){
      padding: 7px;
    }
  }
  &__price-button{
    display: block;
    font-size: 14px;
    color: $gray;
    cursor: pointer;
    &:after{
      display: inline-block;
      margin-left: .255em;
      vertical-align: .255em;
      content: "";
      border-top: .3em solid;
      border-right: .3em solid transparent;
      border-bottom: 0;
      border-left: .3em solid transparent;
      vertical-align: middle;
    }
  }
  &__price-table{
    max-height: 0;
    overflow: hidden;
    font-size: 14px;
    width: 100%;
    display: flex;
    border-top: 1px solid $smoke;
    transition: all 1s ease;
    &.open{
      max-height: 100px;
    }
  }
  &__price-col{
    padding: 8px 10px 10px;
    & + & {
      border-left: 1px solid $smoke;
    }
  }
  &__price-text{
    margin-right: 8px;
  }
  &__price{
    color: $red;
    font-weight: bold;
    white-space: nowrap;
    @include media-breakpoint-down(md){
      display: block;
    }
  }
}