.offer-2 {
  & .row {
    margin-bottom: -30px;
    @include media-breakpoint-down(md) {
      margin-bottom: 0px;
    }
  }

  &__first {
    padding-right: 25px;
    @include media-breakpoint-down(lg) {
      padding-right: 15px;
    }
  }
  &__action-mob {
    margin-top: 20px;
    button {
      width: 100%;
    }
  }
}