.option{
  &.option--mini{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }
  font-size: 16px;
  &__title{
    margin-bottom: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    & .help-btn{
      margin-left: 7px;
    }
  }
  &__title-descrip{
    color: $gray;
    font-weight: normal;
  }
  &__discount{
    font-weight: bold;
    color: $red;
  }
  &__size{
    margin-bottom: 10px;
  }
  &__icon{
    display: flex;
    align-items: center;
    margin-right: 10px;
    svg{
      fill: $red;
    }
  }
}
