.review{
  &__header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__date{
    font-size: 14px;
    color: $gray;
    margin-top: 5px;
    text-align: right;
  }
  &__autor{
  }
  &__text{
    font-family: 'PT Serif';
    font-style: italic;
  }
  &__recommendation-icon{
    align-self: start;
    margin-right: 5px;
    svg {
      fill: $green;
    }
  }
  &__recommendation {
    display: flex;
    align-items: baseline;
  }
}
