//colors

$red: #c31e26;
$orange: #FFD558;
$latte: #EDE4DC;
$darkblue: #0F2131;
$dark: #212121;
$gray: #7B7B7B;
$white: #FFFFFF;
$smoke: #e0e0e0;
$light: #F4F4F4;
$blue: #065fd4;
$lightblue: #dee8f1;

//grig parametrs

$container-max-widths: (
  sm: 480px,
  md: 720px,
  lg: 720px,
  xl: 1110px
) !default;
// $grid-columns:                28 !default;
// $grid-gutter-width:           40px !default;


$transition: 0.2s ease;

$box-shadow: 0px 0px 5px $smoke;

$border-radius: 3px;
