.main-carousel {
  margin-top: 27px;

  &__item {
    text-decoration: none;
    display: block;
    position: relative;
    transition: all $transition;
    border-radius: $border-radius;
    padding: 10px 10px 0;
    border: 1px solid $smoke;
    border-radius: $border-radius;
    background: $white;
  }
  &__item-title {
        margin: 10px 0 15px;
            font-size: 14px;
  }

}