@font-face{
  font-family: 'Montserrat';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/Montserrat-Regular.woff2') format('woff');
}

@font-face{
  font-family: 'Montserrat';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/Montserrat-Bold.woff') format('woff');
}

@font-face{
  font-family: 'PT Serif';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('../assets/fonts/PtSerif/PTSerifRegular.woff2') format('woff2'),
  url('../assets/fonts/PtSerif/PTSerifRegular.woff') format('woff');
}

@font-face{
  font-family: 'PT Serif';
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('../assets/fonts/PtSerif/PTSerifItalic.woff2') format('woff2'),
  url('../assets/fonts/PtSerif/PTSerifItalic.woff') format('woff');
}

@font-face{
  font-family: 'PT Serif';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('../assets/fonts/PtSerif/PTSerifBold.woff2') format('woff2'),
  url('../assets/fonts/PtSerif/PTSerifBold.woff') format('woff');
}

@font-face{
  font-family: 'Source Serif Pro';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('../assets/fonts/SourceSerifPro/sourceserifpro-semibold.woff2') format('woff2'),
  url('../assets/fonts/SourceSerifPro/sourceserifpro-semibold.woff') format('woff');
}

// @font-face{
//   font-family: 'Work Sans';
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   src: url('../assets/fonts/WorkSans/WorkSans-Regular.woff2') format('woff2'),
//   url('../assets/fonts/WorkSans/WorkSans-Regular.woff') format('woff');
// }

// @font-face{
//   font-family: 'Work Sans';
//   font-weight: bold;
//   font-style: normal;
//   font-stretch: normal;
//   src: url('../assets/fonts/WorkSans/WorkSans-SemiBold.woff2') format('woff2'),
//   url('../assets/fonts/WorkSans/WorkSans-SemiBold.woff') format('woff');
// }