// @import 'fonts';
@import 'js-modules';
@import 'form-block';
@import 'modal';
@import 'order';
@import 'breadcrumb';
@import 'node_modules/bootstrap/scss/transitions';

//for fotorama script
.fotorama--fullscreen .fotorama__stage,.fotorama--fullscreen, .fotorama--fullscreen .fotorama__nav, .fullscreen, .fotorama__thumb{
  background: $white!important;
}
.fotorama__thumb-border{
  background: none!important;
  border-color: $orange!important;
}
.fotorama.fotorama--work-gallery{
  .fotorama__stage{
    background: $light;
  }
  .fotorama__nav{
    display: flex!important;
    justify-content: flex-start!important;
  }
}

main{
  position: relative;
  flex-grow: 2;
}
.hidden{
  visibility:hidden;
}

.coin-icon{
  width: 300px;
  height: 240px;
  background: url('../assets/images/coins.svg') no-repeat center;
  background-size: contain;
}

.error{
  font-size: 12px;
  color: $red;
}

.chat_button{
  position: fixed;
  bottom: 0;
  left: 0;
  background: $orange;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 2;
  &:hover{
    background: $red;
  }

}

.owl-nav{
  & > div {
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    background-image: url('../assets/images/right-arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: 30px;
    width: 30px;
    @include media-breakpoint-down(lg) {
      right: -15px;
    }
    &:hover{
      opacity: 0.7;
    }
  }
  & > .owl-prev{
    right: auto;
    left: -30px;
    margin-top: -15px;
    transform: rotate(180deg);
    @include media-breakpoint-down(md) {
      left: -15px;
    }
  }
}
.owl-stage-outer {
  padding: 3px;
}

.fancybox-bg{
  background: #fff;
}

.bg-light{
  background: $light;
}