.cemetery-catalog {

  & .catalog__items-item-inner-desc,
  & .catalog__items-item-inner-footer {
    @include media-breakpoint-down(md) {
      display: none !important;
    }
  }

  & .catalog__items-item-inner-price {
    span {
      @include media-breakpoint-down(md) {
        color: $red;
      }
    }
  }

  & .product-mini__discount {
    display: none;
    top: 20px;
    right: 20px;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  & .catalog__items-item-inner-desc {
    min-height: 147px;
  }

}