.cemetery {

  &__first {
    padding-right: 80px;
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__list {
    position: sticky;
    top: 40px;
    bottom: 0;

    a {
      display: block;
      text-decoration: none;
      border-left: 6px solid transparent;
      margin-bottom: 30px;
      padding-left: 12px;
      transition: 0.5s border ease-out;

      &.active {
        border-left: 6px solid $red;
        font-weight: 900;
      }

      &:hover {
        border-left: 6px solid $red;
      }
    }
  }

  &__steps {
    & .row {
      margin-top: 60px;
      @include media-breakpoint-down(lg) {
        margin-top: 40px;
      }
      @include media-breakpoint-down(sm) {
        margin-top: 30px;
      }

    }
  }

  &__steps-svg-big {
    width: 87px;
    height: 87px;
    background: $gray-300;
    border-radius: 50%;
    position: relative;
    @include media-breakpoint-down(lg) {
      width: 80px;
      height: 80px;
    }
    @include media-breakpoint-down(sm) {
      width: 70px;
      height: 70px;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__steps-items {

    & > div:nth-child(1) img {
      width: 40%;
    }

    & > div:nth-child(2) img {
      width: 70%;
    }

    & > div:nth-child(3) img {
      width: 45%;
    }

    & > div:nth-child(4) img {
      width: 70%;
    }

  }

  &__steps-item {
    margin-bottom: 60px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      text-align: center;
    }
  }

  &__steps-item-desc {
    font-size: 15px;
    margin-top: 16px;
    @include media-breakpoint-down(lg) {
      font-size: 13px;
    }
    @include media-breakpoint-down(sm) {
      margin-top: 10px;
    }
  }

  &__second {
    ul {
      list-style: inherit;
      padding-left: 30px;
    }

    & section {
      margin-bottom: 80px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 60px;
      }
      @include media-breakpoint-down(sm) {
        margin-bottom: 35px;
      }
    }
  }

  &__item-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__worktime {
    & .row {
      margin-bottom: 40px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 20px;
      }

      & .col-sm:first-child {
        @include media-breakpoint-down(sm) {
          margin-bottom: 34px;
        }
      }
    }
  }

  &__worktime-icon {
    width: 59px;
    height: 59px;
  }

  &__map {
    margin-top: 40px;
  }

  .owl-nav > .owl-next {
    right: 0;
  }

  .owl-nav > .owl-prev {
    left: 0;
  }
}

#cemetery-phone {
  background: url("../assets/images/cemetery/phone.png") center / contain no-repeat;
}

#cemetery-calendar {
  background: url("../assets/images/cemetery/calendar.png") center / contain no-repeat;
}