.cemetery {

  &__first {
    padding-right: 80px;
  }

  &__list {
    position: sticky;
    top: 40px;
    bottom: 0;

    a {
      display: block;
      text-decoration: none;
      border-left: 6px solid transparent;
      margin-bottom: 30px;
      padding-left: 12px;
      transition: 0.5s border ease-out;

      &.active {
        border-left: 6px solid $red;
        font-weight: 900;
      }

      &:hover {
        border-left: 6px solid $red;
      }
    }
  }

  &__steps {
    & .row {
      margin-top: 60px;
      margin-bottom: 60px;
      @include media-breakpoint-down(lg) {
        margin-top: 40px;
        margin-bottom: 40px;
      }
    }
  }

  &__steps-svg-big {
    width: 87px;
    height: 87px;
    background: $gray-300;
    border-radius: 50%;
    position: relative;
    @include media-breakpoint-down(lg) {
      width: 80px;
      height: 80px;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: $darkblue;
    }
  }

  &__steps-item-desc {
    font-size: 15px;
    margin-top: 16px;
    @include media-breakpoint-down(lg) {
      font-size: 13px;
    }
  }

  &__title-big {
    font-family: 'Source Serif Pro';
    font-size: 37px;
    margin-bottom: 40px;
    @include media-breakpoint-down(lg) {
      font-size: 30px;
    }
  }

  &__second {
    ul {
      list-style: inherit;
      padding-left: 30px;
    }

    & section {
      margin-bottom: 80px;
      @include media-breakpoint-down(lg) {
        margin-bottom: 60px;
      }
    }
  }

  &__item-title {
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  &__worktime {
    & .row {
      margin-bottom: 40px;
    }
  }

  &__worktime-icon {
    width: 59px;
    height: 59px;
  }

  &__map {
    margin-top: 40px;
  }

  .owl-nav > .owl-next {
    right: 0;
  }

  .owl-nav > .owl-prev {
    left: 0;
  }
}

#cemetery-phone {
  background: url("../assets/images/cemetery/phone.png") center / contain no-repeat;
}

#cemetery-calendar {
  background: url("../assets/images/cemetery/calendar.png") center / contain no-repeat;
}