.category {
  &__title {
    .pagetitle {
      padding: 0;
      margin-bottom: 0;
      border: none;
    }

    margin-bottom: 35px;
    padding-bottom: 15px;
    border-bottom: 1px solid $smoke;
    @include media-breakpoint-down(lg) {
      margin-bottom: 25px;
    }
  }

  &__title-2 {
    font-family: 'Source Serif Pro';
    font-size: 28px;
    @include media-breakpoint-down(lg) {
      font-size: 24px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 20px;
    }
  }


  &__desc {
    margin-top: 60px;
    margin-bottom: 45px;
    @include media-breakpoint-down(sm) {
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }

  &__gallery {
    & .owl-nav > div {
      top: 50%;
    }
  }

  &__gallery-item {
    border: 1px solid $smoke;
    border-radius: $border-radius;
    padding: 10px 10px 0;
  }

}
