.logo{
  color: $dark;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  @include media-breakpoint-down(sm) {
    text-align: center;
    margin-bottom: 10px;
  }
  &__name{
    font-family: 'PT Serif';
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    @include media-breakpoint-down(lg) {
      font-size: 18px;
    }
  }
  &__descrip{
    font-size: 14px;
    color: $gray;
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}
