.menu{
  background: $red;
  position: relative;
  // text-transform: uppercase;
  @include media-breakpoint-down(sm) {
    padding: 0;
  }
  &__icon{
    margin-left: 10px;
    svg{
      fill: $white;
    }
  }
  &__list{
    margin: 0;
    padding: 0;
    & > .menu__item + .menu__item {
      margin-left: 15px;
      @include media-breakpoint-down(lg) {
        margin: 0;
      }
    }
    & > .menu__item:first-child{
      & > a{
        padding-left: 0;
      }
    }
    @include media-breakpoint-down(sm) {
      background: $light;
      padding-top: 5px 0;
    }

  }
  &__mobile-inner-item {
    padding: 5px 20px;
    text-align: right;
    font-size: 14px;
  }
  &__mobile-item {
    padding: 10px 20px;
    text-align: right;
    & a {
      text-decoration: none;
    }

  }
  &__item{
    list-style: none;
    position: relative;
    font-size: 18px;
    outline: none;
    &.active > a{
      color: $dark;
    }
    & > a{
      transition: all $transition;
      &:hover{
        color: $dark;
      }
    }
    a{
      color: $white;
      display: inline-block;
      padding: 10px;
      text-decoration: none;
    }
    &:hover{
      .menu__inner{
        max-height: 200px;
      }
    }
    @include media-breakpoint-down(lg) {
      font-size: 16px;
    }
    @include media-breakpoint-down(sm) {
      padding: 8px 20px;
      color: $white;
      &:after{
        margin-left: 7px;
      }
    }
    
  }
  &.catalog-menu-open{
    margin-bottom: 118px;
    @include media-breakpoint-down(lg) {
      margin-bottom: 105px;
    }
    .catalog-menu{
      & > a{
        position: relative;
        z-index: 5;
        &::after{
          content: '';
          position: absolute;
          bottom: -16px;
          left: 50%;
          margin-left: -8px;
          border: 8px solid transparent;
          border-top: 8px solid $red;
          opacity: 1;
        }
      }
    }
    .catalog-menu__wrapp{
      max-height: none;
    }
  }
  &__inner{
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    left: -5px;
    background: $light;
    z-index: 5;
    transition: all $transition;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    border-radius: 0 0 $border-radius $border-radius;
    li{
      font-size: 14px;
      white-space: nowrap;
      &:first-child{
        padding-top: 5px;
      }
      &:last-child{
        padding-bottom: 5px;
      }
      a{
        padding: 5px 15px;
        color: $dark;
        &:hover{
          color: $red;
        }
      }
    }
  }
}

.menu-btn{
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  svg {
    fill: $dark;
  }
}
