.graves-cards {
  margin-bottom: 85px;

  &__items-item-inner-back-1 {
    width: 167px;
    height: 186px;
    background: url(../assets/images/graves/vaza.jpg) no-repeat center/contain;
    right: -10px;
  }

  &__items-item-inner-back-2 {
    width: 474px;
    height: 242px;
    background: url(../assets/images/graves/cokol.jpg) no-repeat center/contain;
    right: 20px;
  }

  &__items-item-inner-back-3 {
    width: 116px;
    height: 199px;
    background: url(../assets/images/graves/lampadka.jpg) no-repeat center/contain;
    right: 24px;
  }

  &__items-item-inner-back-4 {
    width: 218px;
    height: 181px;
    background: url(../assets/images/graves/table.jpg) no-repeat center/contain;
    right: 0px;
    bottom: 30px;
  }

  &__items-item-inner-back-5 {
    width: 168px;
    height: 217px;
    background: url(../assets/images/graves/plita.jpg) no-repeat center/contain;
    right: 6px;
  }

  &__items-item-inner-back-6 {
    width: 509px;
    height: 241px;
    background: url(../assets/images/graves/ograda.jpg) no-repeat center/contain;
    right: 6px;
  }

  &__items-item-inner-back-7 {
    width: 180px;
    height: 162px;
    background: url(../assets/images/graves/dop.jpg) no-repeat center/contain;
    right: 6px;
    bottom: 50px !important;
  }
}