.graves-cards {
  margin-bottom: 85px;

  &__items-item-inner-back-1 {
    width: 167px;
    height: 186px;
    background: url(../assets/images/graves/vaza.jpg) no-repeat center/contain;
    right: -10px;

    @include media-breakpoint-down(lg) {
      width: 127px;
      height: 142px;
    }
  }

  &__items-item-inner-back-2 {
    width: 474px;
    height: 242px;
    background: url(../assets/images/graves/cokol.jpg) no-repeat center/contain;
    right: 20px;

    @include media-breakpoint-down(lg) {
      width: 380px;
      height: 206px;
      right: 0px;
    }
  }

  &__items-item-inner-back-3 {
    width: 116px;
    height: 199px;
    background: url(../assets/images/graves/lampadka.jpg) no-repeat center/contain;
    right: 24px;

    @include media-breakpoint-down(lg) {
      width: 87px;
      height: 161px;
      right: 16px;
    }
  }

  &__items-item-inner-back-4 {
    width: 218px;
    height: 181px;
    background: url(../assets/images/graves/table.jpg) no-repeat center/contain;
    right: 0px;
    bottom: 30px;

    @include media-breakpoint-down(lg) {
      width: 167px;
      height: 168px;
    }
  }

  &__items-item-inner-back-5 {
    width: 168px;
    height: 217px;
    background: url(../assets/images/graves/plita.jpg) no-repeat center/contain;
    right: 6px;

    @include media-breakpoint-down(lg) {
      width: 130px;
      height: 186px;
      right: 0px;
    }
  }

  &__items-item-inner-back-6 {
    width: 509px;
    height: 241px;
    background: url(../assets/images/graves/ograda.jpg) no-repeat center/contain;
    right: 6px;
    bottom: 10px !important;

    @include media-breakpoint-down(lg) {
      width: 460px;
      height: 200px;
    }
  }

  &__items-item-inner-back-7 {
    width: 180px;
    height: 162px;
    background: url(../assets/images/graves/dop.jpg) no-repeat center/contain;
    right: 6px;
    bottom: 50px !important;

    @include media-breakpoint-down(lg) {
      width: 160px;
      height: 135px;
      right: 0px;
    }
  }
}