.catalog-monuments {
  &__item {
    position: relative;
    padding: 25px 29px 40px 29px;
    min-height: 523px;
    overflow: hidden;
    margin-bottom: 30px;
    @include media-breakpoint-down(md) {
      min-height: auto;
    }
    @include media-breakpoint-down(xs) {
      padding: 5px 20px 20px;
    }
  }

  &__item-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 14px;
  }

  &__item-price {
    margin-top: 35px;

    span {
      font-size: 24px;
      font-weight: 700;
      display: block;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 15px;
    }
  }

  &__item-buttons {
    margin-top: 35px;

    a.btn {
      font-size: 18px;
    }
    @include media-breakpoint-down(xs) {
      margin-top: 15px;
    }
  }

  &__item-models {
    position: absolute;
    bottom: 40px;

    span {
      font-weight: 600;
      color: $red;
    }
    @include media-breakpoint-down(md) {
      position: static;
      margin-top: 20px;
    }
  }

  &__item-img {
    position: absolute;
    width: 731px;
    height: 290px;
    background-position: center bottom;
    background-size: contain;
    background-repeat: no-repeat;
    @include media-breakpoint-down(md) {
      width: calc(100% - 250px);
    }
    @include media-breakpoint-down(sm) {
      width: calc(100% - 200px);
    } 
    @include media-breakpoint-down(xs) {
      position: static;
      width: 100%;
      height: 100px;
      background-position: left bottom;
      margin-top: 20px;
    } 
  }

  &__item-img--monuments {
    background-image: url("../assets/images/catalog-monuments/monuments.jpg");
    right: 0;
    bottom: 35px;
    @include media-breakpoint-down(md) {
      right: 20px;
    }
  }

  &__item-img--complexes {
    background-image: url("../assets/images/catalog-monuments/complexes.jpg");
    right: 0;
    bottom: 35px;
    @include media-breakpoint-down(md) {
      bottom: 0;
    }
    @include media-breakpoint-down(sm) {
      bottom: 20px;
    } 
  }

  &__item-img--graves {
    background-image: url("../assets/images/catalog-monuments/graves.jpg");
    right: 17px;
    bottom: 35px;
    @include media-breakpoint-down(md) {
      bottom: 60px;
    }
    @include media-breakpoint-down(sm) {
      bottom: 40px;
    } 
  }
}